<!doctype html>
<title>Get licenced !</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1></h1>
    <div>
        <p>Sorry for the inconvenience but you are not  an ******* Focal Point yet! If you want to know more about *******, please go to the <a href="http://*******.eurocontrol.int/"> ******* Homepage</a>.</p>
       
    </div>
</article>